.main {
    background-color: rgb(172, 217, 235);
    height: 92vh;
    
}

.content {
    padding: 0px 400px;
    opacity: 1;
}

.seek {
    margin: 0px 400px;
}

.control {
  padding: 10px 400px;
  display: inline-flex;
} 

.slider {
    -webkit-appearance: none;
    margin: 5px;
    width: 600px;
    height: 15px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: rgb(42, 125, 158);
    cursor: pointer;
    border-radius: 50%;
  }
  
  .slider::-moz-range-thumb {
    width: 250px;
    height: 25px;
    background: rgb(42, 125, 158);
    cursor: pointer;
  }

 .box  {
     background-color: #121212;
    margin: 5px 50px;
    appearance: none;
    width: 15px;
    height: 15px;
    position: absolute;
    display: none;
    border-radius: 70%;
  }


   .add {
   margin: 0 0 0 58vh;
  } 

 .note {
  opacity: 3;
  margin: -20px 0 35px 50px;
  position: relative;
  display: flex;
}

.panel {
   
} 